Src/POS.Client/Service References/Service/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27141/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/POS.Data.Model" />
  <xs:import schemaLocation="http://localhost:27141/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="DivisionDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="value" nillable="true" type="q1:Division" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivisionDelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionIns">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="value" nillable="true" type="q2:Division" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionInsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivisionInsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionUpd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="value" nillable="true" type="q3:Division" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionUpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivisionUpdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionsGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" nillable="true" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="DivisionsGetResult" nillable="true" type="q5:ArrayOfDivision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGroupDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="value" nillable="true" type="q6:UserGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGroupDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserGroupDelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGroupIns">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="value" nillable="true" type="q7:UserGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGroupInsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserGroupInsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGroupUpd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="value" nillable="true" type="q8:UserGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGroupUpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserGroupUpdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGroupGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" nillable="true" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGroupGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="UserGroupGetResult" nillable="true" type="q10:ArrayOfUserGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="value" nillable="true" type="q11:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserDelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserIns">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="value" nillable="true" type="q12:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserInsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserInsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="UserSelResult" nillable="true" type="q13:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserUpd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="value" nillable="true" type="q14:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserUpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserUpdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>