Src/POS.Client/Service References/Service/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8888/ServicePOS?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8888/ServicePOS?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8888/ServicePOS?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/POS.Data.Model" />
      <xsd:import schemaLocation="http://localhost:8888/ServicePOS?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8888/ServicePOS?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Service1_UseAPI_InputMessage">
    <wsdl:part name="parameters" element="tns:UseAPI" />
  </wsdl:message>
  <wsdl:message name="Service1_UseAPI_OutputMessage">
    <wsdl:part name="parameters" element="tns:UseAPIResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ApplyAction_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyAction" />
  </wsdl:message>
  <wsdl:message name="Service1_ApplyAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyActionResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1">
    <wsdl:operation name="UseAPI">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/UseAPI" message="tns:Service1_UseAPI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/UseAPIResponse" message="tns:Service1_UseAPI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyAction">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ApplyAction" message="tns:Service1_ApplyAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ApplyActionResponse" message="tns:Service1_ApplyAction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Service1" type="tns:Service1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UseAPI">
      <soap:operation soapAction="http://tempuri.org/Service1/UseAPI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyAction">
      <soap:operation soapAction="http://tempuri.org/Service1/ApplyAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_Service1" binding="tns:BasicHttpBinding_Service1">
      <soap:address location="http://localhost:8888/ServicePOS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>