Src/POS.Client/Service References/Service/ServicePOS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/ServicePOS?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/POS.Data.Model" />
  <xs:element name="UseAPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="request" nillable="true" type="q1:RequestAPI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseAPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="UseAPIResult" nillable="true" type="q2:ResponceAPI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sel_ById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="tab" type="q3:Tables" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="col" type="q4:IdColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sel_ByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sel_ByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="tab" type="q5:Tables" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/POS.Data.Model" minOccurs="0" name="act" type="q6:DataAction" />
        <xs:element minOccurs="0" name="serializedItem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplyActionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>